<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BedeSimplifiedSlotMachineTask.Models.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BedeSimplifiedSlotMachineTask.Models.Properties.Settings>
            <setting name="Apple" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Banana" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="Pineapple" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Wildcard" serializeAs="String">
                <value>5</value>
            </setting>
        </BedeSimplifiedSlotMachineTask.Models.Properties.Settings>
    </applicationSettings>
</configuration>